@import "../styles/constance.scss";

.wrapper {
    // margin-left: 28%;
    // margin-right: 28%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date {
    font-size: $h5;
    font-weight: $font-thick;
    color: $accent-color;
    margin-left: 20%;
    // width: 200px;
    // margin-right: 20px;
}

.title {
    font-size: $h5;
    font-weight: $font-thick;
    color: $accent-color;
    margin-right: 20%;
    // flex-grow: 1;
}

@media (max-width: $tablet) {
    .date {
        margin-left: 10%;
    }
    .title {
        margin-right: 10%;
    }
}

@media (max-width: $mobile) {
    .date {
        margin-left: 2%;
    }
    .title {
        margin-right: 2%;
    }
}