@import "../styles/constance.scss";

.wrapper {
    margin: 0 20%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date {
    font-size: $p;
    font-weight: $font-thick;
    color: $accent-color;
    width: 200px;
}

.title {
    font-size: $p;
    font-weight: $font-thick;
    color: $accent-color;
}

@media (max-width: 1141px) {
    .wrapper {
        margin: 0 5%;
    }
}

@media (max-width: $mobile) {
    .wrapper {
        margin: 0 25%;
    }
    .container {
        display: block;
    }
}