// カラーリング
$main-color: #E91E63;
$sub-color: #F06292;
$accent-color: #42A5F5;
$text-color: #ffffff;

//フォントの太さ
$font-thick: 700;
$font-normal: 500;

// フォントサイズ
$h1: 4rem;
$h2: 3.0rem;
$h3: 2.4rem;
$h4: 1.6rem;
$h5: 1.1rem;
$p: 1.0rem;

//画面サイズ
$tablet: 800px;
$mobile: 450px;