@import "./constance.scss";

a {
    text-decoration: none;
}

:root {
    background-color: $main-color;
}

body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Merriweather Sans', sans-serif;
}

