@import "./constance.scss";

a {
    text-decoration: none;
}

:root {
    background-color: $main-color;
}

html {
    
}

body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* コードの文字フォント */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
code{
    font-family: 'Rubik', sans-serif;
  }

