@import "../styles/constance.scss";

.container{
    display: flex;
    background-color: $sub-color;
}

.header_home{
    color: $text-color;
    font-size: 2em;
}

.header_right{
    color: $text-color;
    font-size: 2em;
    margin-left: auto;
    margin-right: 0;
}

// .header_contact{
//     color: $text-color;
//     font-size: 2rem;
//     margin-left: auto;
//     margin-right: 0.1rem;
// }
