.post_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration:underline;
    text-decoration-color: red;
}

.icon {
    margin: 2em;
}

.icon_cont {
    text-align: center;
}

.pager {
    text-align: center;
}

.next {
    font-size: x-large;
    margin-left: 40%;
}