@import "../styles/constance.scss";

.emoji {
    text-align: center;
    font-size: $h1;
    margin-bottom: 30px;
}

.title {
    font-size: $h3;
    font-weight: $font-thick;
    text-align: center;
}

.date {
    text-align: center;
}

@media (max-width: $tablet) {
    .emoji {
        font-size: $h2;
    }

    .title {
        font-size: $h4;
    }
}
