.flex {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.logo_wrap {
    width: 100px;
    height: 100px;
}

// .js_wrap {
//     width:  100px;
//     height: 100px;
//     margin-right: 20px;
//     margin-top: -9px;
// }